@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');

:root {
  --primary-color: #edc7b7;
  --secondary-color: #ac3b61;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background-color: var(--primary-color);
}

.container {
  margin-top: 15vh;
  padding: 1rem;
  text-align: center;
}

.triangle,
input {
  display: block;
  margin: 1rem auto;
}

.triangle {
  margin-bottom: 5rem;
  width: 0;
  height: 0;
  border-bottom: 12vw solid var(--secondary-color);
  border-right: 12vw solid transparent;
  border-left: 12vw solid transparent;
  text-align: left;
}

.angle-a,
.angle-b,
.angle-c {
  position: relative;
  width: 4vw;
  min-width: 20px;
  overflow: hidden;
  text-align: center;
}

.angle-a {
  left: -2vw;
  top: -3.8vw;
}

.angle-b {
  top: 6vw;
  left: -14vw;
}

.angle-c {
  top: 1vw;
  left: 10vw;
}

.triangle p {
  font-size: 1.5vw;
}

@media (max-width: 1000px) {
  .triangle {
    border-bottom: 30vw solid var(--secondary-color);
    border-right: 30vw solid transparent;
    border-left: 30vw solid transparent;
  }
  .angle-a {
    top: -6vw;
  }

  .angle-b {
    top: 20vw;
    left: -32vw;
  }

  .angle-c {
    top: 12vw;
    left: 28vw;
  }

  .triangle p {
    font-size: 2.5vw;
  }

  input {
    width: 30vw;
    height: 1.2rem;
    font-size: 1rem;
  }
}
