:root {
  --primary-color: #edc7b7;
  --secondary-color: #ac3b61;
}

.container {
  margin-top: 5vh;
  padding: 1rem;
  text-align: center;
}

.triangle,
input {
  display: block;
  margin: 1rem auto;
}

.form p {
  color: red;
}

.triangle {
  margin-bottom: 6rem;
  width: 0;
  height: 0;
  border-right: 10vw solid transparent;
  border-left: 10vw solid transparent;
  border-bottom: calc(20vw * 0.8660254) solid var(--secondary-color);
  text-align: left;
}
.side-a {
  text-align: center;
  width: 4.5vw;
  min-width: 20px;
  position: relative;
  top: 7vw;
  left: -10vw;
  overflow-x: hidden;
}

.side-b {
  position: relative;
  top: 1.9vw;
  left: 7vw;
}

.side-c {
  text-align: center;
  width: 4.5vw;
  position: relative;
  top: 7vw;
  left: -2.5vw;
  overflow-x: hidden;
}

p {
  font-size: 1.5vw;
}

.side-form input {
  width: 15vw;
  padding: 0.7rem;
  font-size: 1vw;
  border: none;
  outline: none;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .triangle {
    border-right: 20vw solid transparent;
    border-left: 20vw solid transparent;
    border-bottom: calc(40vw * 0.8660254) solid var(--secondary-color);
  }
  .side-a {
    top: 14vw;
    left: -18vw;
  }

  .side-b {
    top: 6vw;
    left: 14vw;
  }

  .side-c {
    top: 18vw;
    left: -2vw;
  }

  .triangle p {
    font-size: 2.5vw;
  }

  .side-form input {
    width: 30vw;
    height: 1.2rem;
    font-size: 1rem;
  }

  .area {
    font-size: 4vw;
  }
}
