@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');

:root {
  --primary-color: #edc7b7;
  --secondary-color: #ac3b61;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background-color: var(--primary-color);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-arrows {
  display: flex;
  justify-content: center;
}

.top,
.left,
.center,
.right {
  position: relative;
  width: 0;
  height: 0;
  border-left: 8vw solid transparent;
  border-right: 8vw solid transparent;
  border-bottom: calc(16vw * 0.8660254) solid var(--secondary-color);
  transform: translateY(-20%);
  cursor: pointer;
}
.left {
  transform: translateY(28%) translateX(22%) rotate(-120deg);
  z-index: 2;
}
.center {
  border-top: calc(16vw * 0.8660254) solid var(--secondary-color);
  border-bottom: 0;
  transform: translateY(-4%);
  z-index: 1;
}
.right {
  transform: translateY(28%) translateX(-22%) rotate(120deg);
  z-index: 2;
}

.top p,
.right p,
.left p {
  font-size: 1.2vw;
  text-align: center;
  position: relative;
  top: 8vw;
  left: -4vw;
  width: 8vw;
  margin: 0px;
}

.center p {
  font-size: 1.2vw;
  text-align: center;
  position: relative;
  bottom: 11vw;
  left: -4vw;
  width: 8vw;
  margin: 0px;
}

.right p {
  transform: rotate(-120deg);
}

.left p {
  transform: rotate(120deg);
}

.link {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9vw;
  color: white;
}
