:root {
  --primary-color: #edc7b7;
  --secondary-color: #ac3b61;
}

.container {
  margin-top: 15vh;
  padding: 1rem;
  text-align: center;
}

.triangle,
.form input {
  display: block;
  margin: 1rem auto;
}

.form p {
  color: red;
}

.triangle {
  margin-bottom: 8rem;
  width: 0;
  height: 0;
  border-bottom: 15vw solid var(--secondary-color);
  border-right: 15vw solid transparent;
  text-align: left;
}
.height {
  text-align: center;
  width: 4.5vw;
  min-width: 20px;
  position: relative;
  left: -5vw;
  top: 6.5vw;
  overflow-x: hidden;
}

.hypo {
  position: relative;
  top: 1.2vw;
  left: 10vw;
}

.base {
  text-align: center;
  width: 4.5vw;
  position: relative;
  top: 5vw;
  left: 5vw;
  overflow-x: hidden;
}

p {
  font-size: 1.5vw;
}

.form input {
  width: 15vw;
  padding: 0.7rem;
  font-size: 1vw;
  border: none;
  outline: none;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .triangle {
    border-bottom: 30vw solid var(--secondary-color);
    border-right: 30vw solid transparent;
  }
  .height {
    top: 14vw;
  }

  .hypo {
    top: 6vw;
    left: 20vw;
  }

  .base {
    top: 13vw;
    left: 11vw;
  }

  .triangle p {
    font-size: 2.5vw;
  }

  .form input {
    width: 30vw;
    height: 1.2rem;
    font-size: 1rem;
  }
}
