:root {
  --secondary-color: #ac3b61;
}
.icon {
  position: fixed;
  left: 2vw;
  top: 4vh;
  cursor: pointer;
  padding: 1rem;
}

.arrow {
  background-color: var(--secondary-color);
  width: 1.6rem;
  height: 0.2rem;
  position: absolute;
  cursor: pointer;
}

.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 0.2rem;
  right: 0.9rem;
  background-color: var(--secondary-color);
}

.arrow::after {
  top: -0.2rem;
  transform: rotate(-45deg);
}

.arrow::before {
  top: 0.3rem;
  transform: rotate(45deg);
}
