.question {
  background-color: var(--secondary-color);
  color: white;
  padding: 1vw;
  margin-top: 2vw;
  width: 100%;
  border-radius: 10px;
}

.question h4 {
  font-size: 1vw;
}

.question label {
  font-size: 0.85vw;
}

@media (max-width: 1000px) {
  .question h4 {
    font-size: 1.5vw;
  }

  .question label {
    font-size: 1.5vw;
  }
}
